{% extends 'layouts/app.twig' %}

{% block content %}

    <p class="my-4">Seja bem vindo ao seu pequeno framework PHP. A construção do MyPHP MVC nasceu na vontade de entender
        como um
        framework
        funcionava debaixo dos panos e por diversão, comecei a programar.</p>
    <p class="my-4">Ele é de fácil uso e você já pode brincar a partir da instalação.</p>
    <p class="my-4">O estilo foi baseado neste <a
                href="https://www.penguinui.com/theme?config=90s_poppins_oswald_true_-2xl_purple-500_purple-400_sky-500_blue-400_neutral-100_neutral-800_neutral-200_neutral-900_neutral-800_black_neutral-300_neutral-100_white_black_white_black_neutral-300_neutral-700_neutral-800_neutral-300_pink-500_black_cyan-500_black_yellow-300_black_teal-400_black"
                target="_blank">link</a></p>

{% endblock %}