{% extends 'layouts/app.twig' %}

{% block content %}
	
    <p>Este é um exemplo simples de uma página de boas-vindas no seu framework MVC.</p>
    <p>Você pode começar a construir suas páginas e controladores agora!</p>

{% endblock %}