<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/output.css">
</head>

<body>
<header>
    <h1>Bem-vindo ao Meu Framework MVC</h1>
</header>
<main>
    <section id="content">
        {% block content %}{% endblock %}

    </section>
</main>
<footer>
    <p>&copy;
        <?= date('Y') ?>

        Meu Framework MVC</p>
</footer>
<script src="js/script.js"></script>
</body>

</html>
